# Data Analysis on Million Song Dataset

To decide what columns are important for analysis, we first do a quick analysis of the data of 10000 records randomly selected from the whole dataset.

In [6]:
import os
import time
import glob
import pandas as pd
import numpy as np
import hdf5_getters

In [7]:
def get_all_files(basedir,ext='.h5') :
    allfiles = []
    for root, dirs, files in os.walk(basedir):
        files = glob.glob(os.path.join(root,'*'+ext))
        for f in files :
            allfiles.append( os.path.abspath(f) )
    return allfiles

In [8]:
def transfer(h5path):
        
    getters = list(filter(lambda x: x[:4] == 'get_', hdf5_getters.__dict__.keys()))
    getters.remove("get_num_songs")
    
    h5 = hdf5_getters.open_h5_file_read(h5path)

    nSongs = hdf5_getters.get_num_songs(h5)
    matdata = {'transfer_note':'transferred on '+time.ctime()+' from file: '+h5path}
    
    try:
        for songidx in range(nSongs):
            for getter in getters:
                gettername = getter[4:]
                if nSongs > 1:
                    gettername += str(songidx+1)
                data = hdf5_getters.__getattribute__(getter)(h5,songidx)
                matdata[gettername] = data
    except MemoryError:
        print('Memory Error!')
        raise
    
    finally:
        h5.close()
        
    return matdata

In [9]:
h5s = get_all_files('D:/472/MillionSongDataset/MillionSongDataset/MillionSongSubset')

In [10]:
df = pd.DataFrame()

In [11]:
%%time
for file in h5s:
    xd = transfer(file)
    df = df.append(pd.Series(xd), ignore_index=True)

Wall time: 8min 10s

In [12]:
dfcopy=df.copy()

In [13]:
dfcopy.head()

,transfer_note,artist_familiarity,artist_hotttnesss,artist_id,artist_mbid,artist_playmeid,artist_7digitalid,artist_latitude,artist_longitude,artist_location,...,sections_confidence,beats_start,beats_confidence,bars_start,bars_confidence,tatums_start,tatums_confidence,artist_mbtags,artist_mbtags_count,year
0,transferred on Tue Jul 23 10:45:17 2024 from f...,0.581794,0.401998,b'ARD7TVE1187B99BFB1',b'e77e51a5-4761-45b3-9847-2051f811e366',4479.0,165270.0,NaN,NaN,b'California - LA',...,"[1.0, 1.0, 0.218, 0.133, 0.384, 0.326, 0.373, ...","[0.58521, 1.19196, 1.78893, 2.37813, 2.94247, ...","[0.834, 0.851, 0.65, 0.635, 0.532, 0.753, 0.62...","[0.58521, 2.94247, 5.14371, 7.74554, 10.36149,...","[0.643, 0.746, 0.722, 0.095, 0.091, 0.362, 0.4...","[0.28519, 0.58521, 0.89422, 1.19196, 1.49119, ...","[0.779, 0.734, 0.674, 0.637, 0.597, 0.532, 0.4...",[],[],0.0
1,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630630,0.417500,b'ARMJAGH1187FB546F3',b'1c78ab62-db33-4433-8d0b-7c8dcf1849c2',22066.0,1998.0,35.14968,-90.04892,"b'Memphis, TN'",...,"[1.0, 0.451, 0.27, 0.397, 0.225, 0.426, 0.459,...","[0.20627, 0.71054, 1.21836, 1.71841, 2.21729, ...","[1.0, 0.945, 0.714, 0.973, 0.818, 0.974, 0.878...","[0.71054, 2.71502, 4.70861, 6.69288, 8.66941, ...","[0.007, 0.259, 0.172, 0.404, 0.011, 0.016, 0.0...","[0.20627, 0.45904, 0.71054, 0.96834, 1.21836, ...","[0.969, 0.929, 0.897, 0.871, 0.856, 0.845, 0.8...",[b'classic pop and rock'],[1],1969.0
2,transferred on Tue Jul 23 10:45:17 2024 from f...,0.487357,0.343428,b'ARKRRTF1187B9984DA',b'7a273984-edd9-4451-9c4d-39b38f05ebcd',13951.0,290021.0,NaN,NaN,b'',...,"[1.0, 0.121, 0.214, 0.198, 0.66, 0.468, 0.591,...","[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....","[0.98, 0.399, 0.185, 0.27, 0.422, 0.0, 0.445, ...","[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....","[0.98, 0.399, 0.185, 0.27, 0.422, 0.0, 0.445, ...","[0.42132, 0.73152, 1.06609, 1.39732, 1.72854, ...","[0.482, 0.676, 0.627, 0.549, 0.279, 0.264, 0.2...",[],[],0.0
3,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630382,0.454231,b'AR7G5I41187FB4CE6C',b'e188a520-9cb7-4f73-a3d7-2f70c6538e92',12697.0,19072.0,NaN,NaN,"b'London, England'",...,"[1.0, 0.086, 0.153, 0.146, 0.088, 0.217, 0.372...","[0.81002, 1.30621, 1.80617, 2.2996, 2.80049, 3...","[0.809, 0.616, 0.789, 0.66, 0.439, 0.758, 0.60...","[1.30621, 3.29887, 5.30252, 7.32327, 9.33775, ...","[0.017, 0.05, 0.014, 0.008, 0.114, 0.019, 0.08...","[0.56254, 0.81002, 1.05749, 1.30621, 1.55494, ...","[0.601, 0.556, 0.523, 0.49, 0.466, 0.44, 0.428...","[b'uk', b'british', b'english']","[1, 1, 1]",1982.0
4,transferred on Tue Jul 23 10:45:17 2024 from f...,0.651046,0.401724,b'ARXR32B1187FB57099',b'c6903a2e-063c-4f91-a284-17b8f421be7b',8355.0,30973.0,NaN,NaN,b'',...,"[1.0, 0.768, 0.611, 0.388, 0.52, 0.42, 0.499, ...","[0.13576, 0.59914, 1.06368, 1.52591, 1.99045, ...","[0.883, 0.738, 0.484, 0.609, 0.625, 0.719, 0.4...","[1.06368, 2.91491, 4.76729, 6.61852, 8.46978, ...","[0.175, 0.409, 0.639, 0.067, 0.016, 0.066, 0.0...","[0.13576, 0.36918, 0.59914, 0.83141, 1.06368, ...","[1.0, 0.98, 0.932, 0.87, 0.82, 0.793, 0.768, 0...",[],[],2007.0

In [42]:
df = dfcopy.copy()

In [43]:
# calculate mean for columns with multiple values
df['artist_terms_freq_mean'] = df['artist_terms_freq'].apply(lambda col: np.mean(col))
df['artist_terms_weight_mean'] = df['artist_terms_weight'].apply(lambda col: np.mean(col))
df['segments_start_mean'] = df['segments_start'].apply(lambda col: np.mean(col))
df['segments_pitches_mean'] = df['segments_pitches'].apply(lambda col: np.mean(col))
df['segments_timbre_mean'] = df['segments_timbre'].apply(lambda col: np.mean(col))
df['segments_loudness_max_mean'] = df['segments_loudness_max'].apply(lambda col: np.mean(col))
df['segments_loudness_max_time_mean'] = df['segments_loudness_max_time'].apply(lambda col: np.mean(col))
df['segments_loudness_start_mean'] = df['segments_loudness_start'].apply(lambda col: np.mean(col))
df['sections_start_mean'] = df['sections_start'].apply(lambda col: np.mean(col))
df['sections_confidence_mean'] = df['sections_confidence'].apply(lambda col: np.mean(col))
df['beats_start_mean'] = df['beats_start'].apply(lambda col: np.mean(col))
df['beats_confidence_mean'] = df['beats_confidence'].apply(lambda col: np.mean(col))
df['bars_start_mean'] = df['bars_start'].apply(lambda col: np.mean(col))
df['bars_confidence_mean'] = df['bars_confidence'].apply(lambda col: np.mean(col))
df['tatums_start_mean'] = df['tatums_start'].apply(lambda col: np.mean(col))
df['tatums_confidence_mean'] = df['tatums_confidence'].apply(lambda col: np.mean(col))

D:\Anaconda\envs\TF2.1\lib\site-packages\numpy\core\fromnumeric.py:3441: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [44]:
df.head()

,transfer_note,artist_familiarity,artist_hotttnesss,artist_id,artist_mbid,artist_playmeid,artist_7digitalid,artist_latitude,artist_longitude,artist_location,...,segments_loudness_max_time_mean,segments_loudness_start_mean,sections_start_mean,sections_confidence_mean,beats_start_mean,beats_confidence_mean,bars_start_mean,bars_confidence_mean,tatums_start_mean,tatums_confidence_mean
0,transferred on Tue Jul 23 10:45:17 2024 from f...,0.581794,0.401998,b'ARD7TVE1187B99BFB1',b'e77e51a5-4761-45b3-9847-2051f811e366',4479.0,165270.0,NaN,NaN,b'California - LA',...,0.058937,-24.225859,94.041341,0.477100,108.983384,0.611462,108.163956,0.172096,108.824493,0.455733
1,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630630,0.417500,b'ARMJAGH1187FB546F3',b'1c78ab62-db33-4433-8d0b-7c8dcf1849c2',22066.0,1998.0,35.14968,-90.04892,"b'Memphis, TN'",...,0.054163,-21.839993,57.537986,0.491667,73.200775,0.730807,71.968279,0.122562,73.201141,0.616008
2,transferred on Tue Jul 23 10:45:17 2024 from f...,0.487357,0.343428,b'ARKRRTF1187B9984DA',b'7a273984-edd9-4451-9c4d-39b38f05ebcd',13951.0,290021.0,NaN,NaN,b'',...,0.080291,-18.610573,83.654137,0.451875,86.796250,0.430550,86.796250,0.430550,86.647263,0.332560
3,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630382,0.454231,b'AR7G5I41187FB4CE6C',b'e188a520-9cb7-4f73-a3d7-2f70c6538e92',12697.0,19072.0,NaN,NaN,"b'London, England'",...,0.055604,-17.199015,102.654115,0.325818,116.743008,0.621877,115.988532,0.118609,116.617431,0.260192
4,transferred on Tue Jul 23 10:45:17 2024 from f...,0.651046,0.401724,b'ARXR32B1187FB57099',b'c6903a2e-063c-4f91-a284-17b8f421be7b',8355.0,30973.0,NaN,NaN,b'',...,0.048579,-12.156089,94.652866,0.613333,102.530721,0.435171,101.839819,0.127936,102.530912,0.257529

In [45]:
#reset index numbers
df.reset_index(drop=True, inplace=True)

In [46]:
df.head()

,transfer_note,artist_familiarity,artist_hotttnesss,artist_id,artist_mbid,artist_playmeid,artist_7digitalid,artist_latitude,artist_longitude,artist_location,...,segments_loudness_max_time_mean,segments_loudness_start_mean,sections_start_mean,sections_confidence_mean,beats_start_mean,beats_confidence_mean,bars_start_mean,bars_confidence_mean,tatums_start_mean,tatums_confidence_mean
0,transferred on Tue Jul 23 10:45:17 2024 from f...,0.581794,0.401998,b'ARD7TVE1187B99BFB1',b'e77e51a5-4761-45b3-9847-2051f811e366',4479.0,165270.0,NaN,NaN,b'California - LA',...,0.058937,-24.225859,94.041341,0.477100,108.983384,0.611462,108.163956,0.172096,108.824493,0.455733
1,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630630,0.417500,b'ARMJAGH1187FB546F3',b'1c78ab62-db33-4433-8d0b-7c8dcf1849c2',22066.0,1998.0,35.14968,-90.04892,"b'Memphis, TN'",...,0.054163,-21.839993,57.537986,0.491667,73.200775,0.730807,71.968279,0.122562,73.201141,0.616008
2,transferred on Tue Jul 23 10:45:17 2024 from f...,0.487357,0.343428,b'ARKRRTF1187B9984DA',b'7a273984-edd9-4451-9c4d-39b38f05ebcd',13951.0,290021.0,NaN,NaN,b'',...,0.080291,-18.610573,83.654137,0.451875,86.796250,0.430550,86.796250,0.430550,86.647263,0.332560
3,transferred on Tue Jul 23 10:45:17 2024 from f...,0.630382,0.454231,b'AR7G5I41187FB4CE6C',b'e188a520-9cb7-4f73-a3d7-2f70c6538e92',12697.0,19072.0,NaN,NaN,"b'London, England'",...,0.055604,-17.199015,102.654115,0.325818,116.743008,0.621877,115.988532,0.118609,116.617431,0.260192
4,transferred on Tue Jul 23 10:45:17 2024 from f...,0.651046,0.401724,b'ARXR32B1187FB57099',b'c6903a2e-063c-4f91-a284-17b8f421be7b',8355.0,30973.0,NaN,NaN,b'',...,0.048579,-12.156089,94.652866,0.613333,102.530721,0.435171,101.839819,0.127936,102.530912,0.257529

In [47]:
# print all the types of columns
df.dtypes

transfer_note              object
artist_familiarity        float64
artist_hotttnesss         float64
artist_id                  object
artist_mbid                object
                           ...
beats_confidence_mean     float64
bars_start_mean           float64
bars_confidence_mean      float64
tatums_start_mean         float64
tatums_confidence_mean    float64
Length: 71, dtype: object

In [48]:
# print all the columns names with type "object"
df.select_dtypes(include=[np.object]).columns

D:\Anaconda\envs\TF2.1\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

Index(['transfer_note', 'artist_id', 'artist_mbid', 'artist_location',
       'artist_name', 'release', 'song_id', 'title', 'similar_artists',
       'artist_terms', 'artist_terms_freq', 'artist_terms_weight', 'audio_md5',
       'track_id', 'segments_start', 'segments_confidence', 'segments_pitches',
       'segments_timbre', 'segments_loudness_max',
       'segments_loudness_max_time', 'segments_loudness_start',
       'sections_start', 'sections_confidence', 'beats_start',
       'beats_confidence', 'bars_start', 'bars_confidence', 'tatums_start',
       'tatums_confidence', 'artist_mbtags', 'artist_mbtags_count'],
      dtype='object')

Columns like 'artist_id', 'song_id' are important so that we can select them when we are creating the avro file.

In [49]:
df['year'].head(10)

0       0.0
1    1969.0
2       0.0
3    1982.0
4    2007.0
5       0.0
6       0.0
7       0.0
8    1984.0
9       0.0
Name: year, dtype: float64

In [50]:
# delete rows that have a year of 0
df = df[df['year'] != 0]

In [51]:
# find all the columns with float or int to a dataframe
df_num = df.select_dtypes(include=[np.float, np.int])

D:\Anaconda\envs\TF2.1\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

D:\Anaconda\envs\TF2.1\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [52]:
df_num.head()

,artist_familiarity,artist_hotttnesss,artist_playmeid,artist_7digitalid,artist_latitude,artist_longitude,release_7digitalid,song_hotttnesss,track_7digitalid,analysis_sample_rate,...,segments_loudness_max_time_mean,segments_loudness_start_mean,sections_start_mean,sections_confidence_mean,beats_start_mean,beats_confidence_mean,bars_start_mean,bars_confidence_mean,tatums_start_mean,tatums_confidence_mean
1,0.630630,0.417500,22066.0,1998.0,35.14968,-90.04892,300822.0,NaN,3400270.0,22050.0,...,0.054163,-21.839993,57.537986,0.491667,73.200775,0.730807,71.968279,0.122562,73.201141,0.616008
3,0.630382,0.454231,12697.0,19072.0,NaN,NaN,287650.0,NaN,3226795.0,22050.0,...,0.055604,-17.199015,102.654115,0.325818,116.743008,0.621877,115.988532,0.118609,116.617431,0.260192
4,0.651046,0.401724,8355.0,30973.0,NaN,NaN,611336.0,0.604501,6795666.0,22050.0,...,0.048579,-12.156089,94.652866,0.613333,102.530721,0.435171,101.839819,0.127936,102.530912,0.257529
8,0.426668,0.332276,-1.0,276891.0,NaN,NaN,358182.0,0.265861,3996579.0,22050.0,...,0.066299,-21.778646,129.490892,0.415167,133.399844,0.283727,130.296721,0.139043,133.573819,0.178848
14,0.776676,0.553072,-1.0,237.0,NaN,NaN,25811.0,NaN,276438.0,22050.0,...,0.039626,-17.993997,147.478992,0.446615,153.302507,0.665239,152.584333,0.118854,153.302351,0.466262

In [53]:
# replace missing values with the mean of a column
df_num = df_num.fillna(df_num.mean())
# standardize the columns
df_num = (df_num - df_num.mean()) / df_num.std()

In [54]:
df_num.head()

,artist_familiarity,artist_hotttnesss,artist_playmeid,artist_7digitalid,artist_latitude,artist_longitude,release_7digitalid,song_hotttnesss,track_7digitalid,analysis_sample_rate,...,segments_loudness_max_time_mean,segments_loudness_start_mean,sections_start_mean,sections_confidence_mean,beats_start_mean,beats_confidence_mean,bars_start_mean,bars_confidence_mean,tatums_start_mean,tatums_confidence_mean
1,-0.006782,-0.189090,0.000804,-0.655746,-2.314857e-01,-8.789438e-01,-0.161252,4.440935e-14,-0.141604,NaN,...,-0.124126,-0.175403,-0.951679,-0.831281,-0.895076,1.545837,-0.901400,-0.406262,-0.891698,1.652131
3,-0.008541,0.097779,-0.226463,-0.514661,-1.860133e-13,-7.509474e-14,-0.218024,4.440935e-14,-0.208934,NaN,...,-0.103327,0.505652,-0.062962,-2.262155,-0.016891,0.987675,-0.013423,-0.438044,-0.017747,-0.239734
4,0.138207,-0.312298,-0.331787,-0.416322,-1.860133e-13,-7.509474e-14,1.177079,8.895865e-01,1.176232,NaN,...,-0.204722,1.245691,-0.220574,0.218410,-0.303533,0.030997,-0.298831,-0.363050,-0.301303,-0.253893
8,-1.455291,-0.854678,-0.534481,1.615731,-1.860133e-13,-7.509474e-14,0.085972,-9.917633e-01,0.089838,NaN,...,0.051059,-0.166400,0.465681,-1.491292,0.319054,-0.745003,0.275202,-0.273753,0.323577,-0.672237
14,1.030414,0.869714,-0.534481,-0.670297,-1.860133e-13,-7.509474e-14,-1.346565,4.440935e-14,-1.354040,NaN,...,-0.333961,0.388990,0.820019,-1.219965,0.720462,1.209862,0.724788,-0.436073,0.720704,0.855934

In [55]:
# find the columns that are mostly related to the column of 'year'
df_num.corr()['year'].sort_values(ascending=False)

year                               1.000000
loudness                           0.268655
segments_loudness_max_mean         0.227842
segments_loudness_start_mean       0.207443
artist_7digitalid                  0.163161
time_signature                     0.122848
time_signature_confidence          0.116367
sections_confidence_mean           0.083463
artist_familiarity                 0.082848
segments_pitches_mean              0.065545
release_7digitalid                 0.064492
track_7digitalid                   0.062529
start_of_fade_out                  0.060696
duration                           0.059714
artist_hotttnesss                  0.059260
tatums_start_mean                  0.056676
beats_start_mean                   0.056642
bars_start_mean                    0.055923
segments_start_mean                0.052504
sections_start_mean                0.050715
song_hotttnesss                    0.050691
tempo                              0.020238
key                                0.013502
artist_longitude                   0.012724
segments_loudness_max_time_mean    0.007613
end_of_fade_in                    -0.001471
artist_playmeid                   -0.002623
beats_confidence_mean             -0.007367
tatums_confidence_mean            -0.007764
segments_timbre_mean              -0.020175
artist_latitude                   -0.033275
mode_confidence                   -0.036881
artist_terms_weight_mean          -0.049409
key_confidence                    -0.060874
artist_terms_freq_mean            -0.076954
bars_confidence_mean              -0.087976
mode                              -0.090332
analysis_sample_rate                    NaN
danceability                            NaN
energy                                  NaN
Name: year, dtype: float64

It can be seen that loudness, artist_id, artist_familiarity and others are relavent to predicting the year of a song.